@model IEnumerable<InventoryApp.Models.Feedback>

@{
    ViewData["Title"] = "All Feedback";
}

<h2>All Feedback</h2>

<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Title</td>
            <td>@item.Description</td>
        </tr>
    }
    </tbody>
</table>
